*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  display: inline-block;
  border: 1px solid #0a8754;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #00416a;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  /*Default sizing */
  height: 50px;
  width: 100;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

html {
  height: 100%;
}

body {
  height: inherit;
  font-family: 'Open Sans';
}

body:after {
  content: '';
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: #00416a; /* fallback for old browsers */
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e4e5e6,
    #00416a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e4e5e6,
    #00416a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2 {
  font-family: 'Righteous';
}

h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-self: center;
  color: #142720;
  font-size: 3em;
  text-shadow: 1px 1px 1px rgb(126, 123, 123);
}

h2 {
  font-size: 2em;
  text-shadow: 1px 1px 1px rgba(126, 123, 123, 0.274);
}

ul {
  padding: 0;
  margin: 0;
}

label:hover {
  cursor: pointer;
}

#root {
  padding-bottom: 3em; /*Helps with margin-collapse on mobile safari */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 1em 0.5em;
}

#filter-rating {
  height: 50px;
  width: fit-content;
  font-size: 1.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.filter-rating-div {
  display: contents;
}

.new-item-form,
.update-item-form {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.new-item-form,
.expanded-content,
.update-item-form {
  opacity: 0;
  animation: fadeIn 1s 1 forwards;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-button {
  grid-column: 2 / 3;
}

.new-button {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-left: 8px;
  margin-right: 8px;
}

.filter-menu {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  margin-left: 8px;
  margin-right: 8px;
}

.bookmark-list {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(50px, auto);
  gap: 8px 0;
  list-style-type: none;
}

.bookmark-item {
  display: contents;
  width: 100%;
}

.bm-expand {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.bm-rating {
  display: inline-block;
  font-size: 2em;
  float: right;
}

.bm-title {
  display: inline-block;
  float: left;
  font-size: 2em;
}

.expanded-content {
  border: 2px solid #91aec1;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

.expanded-content h2 {
  margin-top: 8px;
}

.expanded-content p {
  border: 2px solid #76a7c7;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 3px -3px #304452;
}

a.anchor-visit {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #0a8754;
  padding: 1em 1.5em;
  box-shadow: 0 2px 0 #043a24;
  transition: background-color 1s ease-in-out;
}

a.anchor-visit:hover {
  cursor: pointer;
  background-color: #0da568;
}

a.anchor-visit:active {
  box-shadow: none;
  background-color: #0da568;
}

.expanded-content-rating {
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.delete-bm {
  background-color: rgb(102, 16, 16);
}

.delete-bm:hover {
  background-color: rgb(160, 26, 26);
}

.bm-expand {
  width: 80%;
}

.new-item-form,
.update-item-form {
  padding: 1em 3em;
  margin-left: 8px;
  margin-right: 8px;
  border: 2px solid #91aec1;
  position: relative;
}

.new-item-form > div,
.update-item-form > div {
  margin-bottom: 1em;
}

.new-item-form label,
.update-item-form label {
  float: left;
  text-align: left;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 4px;
  font-weight: 600;
}

.new-item-form input,
.update-item-form input {
  height: 2.5em;
  width: 80%;
  padding: 0.5em;
}

.new-item-submit-button,
.update-item-submit-button {
  position: absolute;
  bottom: -25px;
  right: 20px;
}

.back-button {
  position: absolute;
  background-color: #5f0f23;
  top: -25px;
  left: 20px;
}

.back-button-new-bm {
  position: absolute;
  background-color: #5f0f23;
  top: -25px;
  left: 20px;
}

#rating {
  width: 100px;
}

.error-alert {
  position: fixed;
  z-index: 1;
  opacity: 0.95;
  height: 100px;
  width: 320px;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -160px;
  padding: 1em;
  color: white;
  font-weight: 600;
  background-color: #5f0f23;
  border: 2px solid #0b3653;
  border-radius: 5px;
  box-shadow: 0 4px 3px -3px #304452;
}

footer {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1000px) {
  #root {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .expanded-content {
    padding: 2em;
  }
}
